.contact-container {
  width: 100%;
  margin: auto;
  padding: 5em;
  background-color: #4B032F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-header {
  background-color: var(--dark-bg);
  color: var(--primary);
  text-align: center;
  padding: 40px 20px;
}

.contact-header h2 {
  font-size: var(--h2);
  font-weight: bold;
  text-transform: uppercase;
}

.contact-container h1 {
  text-align: center;
  color: var(--primary);
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 10em;
  margin-top: 20px;
}

.info-box {
  text-align: center;
}

.info-box i {
  font-size: 30px;
  background: var(--primary);
  color: var(--font-white);
  padding: 15px;
  border-radius: 50%;
}

.info-box h3 {
  margin-top: 10px;
  font-size: var(--h5);
  font-weight: bold;
  color: var(--font-white);
}

.info-box p {
  color: var(--font-white);
  font-size: var(--small);
}

/* Contact Form Section */
.contact-form {
  text-align: left;
  padding: 40px 20px;
  width:100%;
  max-width: 90em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
}

.contact-form-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 43em;
}

.contact-form-info form div label span {

  color: red;
}


.contact-form h3 {
  color: var(--primary);
  font-size: var(--h4);
  font-weight: bold;
}

.contact-form p {
  color: var(--font-dark);
  width: 100%;
  max-width: 56ch;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

button {
  background-color: var(--primary);
  color: var(--font-white);
  border: none;
  padding: 10px;
  font-size: var(--body);
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #d6006d;
}

/* Responsive Design */
/*@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    gap: 20px;
  }
  
  
}
*/

@media (max-width: 810px) {
  .contact-form {
    flex-direction: column;
    gap: 20px;
    
    
  }
  
  .contact-form-text {
    text-align: center;
  }
  .contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  .contact-info div:nth-child(3)
  {
    grid-column: 1/3;
  }
}