/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white-bg);
}

.contact-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact Header */
.contact-header {
  background-color: var(--dark-bg);
  color: var(--primary);
  text-align: center;
  padding: 40px 20px;
}

.contact-header h2 {
  font-size: var(--h2);
  font-weight: bold;
  text-transform: uppercase;
}

.contact-container h1 {
  text-align: center;
  color: #333;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.info-box {
  text-align: center;
}

.info-box i {
  font-size: 30px;
  background: var(--primary);
  color: var(--font-white);
  padding: 15px;
  border-radius: 50%;
}

.info-box h3 {
  margin-top: 10px;
  font-size: var(--h5);
  font-weight: bold;
  color: var(--font-white);
}

.info-box p {
  color: var(--font-white);
  font-size: var(--small);
}

/* Contact Form Section */
.contact-form {
  background-color: var(--white-bg);
  text-align: left;
  padding: 40px 20px;
  width: 50%;
  margin: auto;
}

.contact-form h3 {
  color: var(--primary);
  font-size: var(--h4);
  font-weight: bold;
}

.contact-form p {
  font-size: var(--small);
  color: var(--font-dark);
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

button {
  background-color: var(--primary);
  color: var(--font-white);
  border: none;
  padding: 10px;
  font-size: var(--body);
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #d6006d;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    gap: 20px;
  }
  .contact-form {
    width: 80%;
  }
}
