body {
    padding-top: 70px; 
}

#product-detail {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.product-image {
    flex: 1;
    max-width: 50%;
}

.product-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-details h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.product-details p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.product-price {
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 20px;
}

.add-to-cart {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--font-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: var(--tertiary);
    color: var(--font-dark);
}

@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-image, .product-details {
        max-width: 100%;
    }
}
